<table class="table table-bordered">
  <thead>
    <tr>
      <th>Prestação</th>
      <th>SaldoDevedor1</th>
      <th>CorreçãoTR</th>
      <th>SaldoDevedor2</th>
      <th>Amortização</th>
      <th>Juros</th>
      <th>Seguros</th>
      <th>Parcela</th>
      <th>VPParcela</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of financiamento.prestacoes; let i=index">
      <td>{{i}}</td>
      <td>{{p.saldoDevedor1 | currency:'USD':true }}</td>
      <td>{{p.correcaoTR | currency:'USD':true}}</td>
      <td>{{p.saldoDevedor2 | currency:'USD':true}}</td>
      <td>{{p.amortizacao | currency:'USD':true}}</td>
      <td>{{p.juros | currency:'USD':true}}</td>
      <td>{{p.seguros | currency:'USD':true}}</td>
      <td>{{p.parcela | currency:'USD':true}}</td>
      <td>{{p.parcelaVP | currency:'USD':true}}</td>
    </tr>
  </tbody>
</table>
