<div class="panel panel-default">
  <div class="panel-heading">Fluxo de caixa do financiamento</div>
  <div class="panel-body">      
    <div class="table table-responsive">  
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th class="col-1">Mês</th>
            <th class="text-right">Dívida Inicial</th>
            <th class="text-right">Correção TR</th>
            <th class="text-right">Amortização</th>
            <th class="text-right">Juros</th>
            <th class="text-right">Seguros</th>
            <th class="text-right">Parcela</th>
            <th class="text-right">Parcela Descontada</th>
            <th class="text-right">Resgate FGTS</th>
            <th class="text-right">Dívida Atualizada</th>
            <th class="text-right">Valor Imovel</th>
            <th class="text-right">Patrimônio</th>
            <th class="text-right">Patrimonio Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ext of extrato; let i=index">
            <td>{{i}}</td>
            <td class="text-right">{{ext.Saldo | number:'1.2-2' }}</td> 
            <td class="text-right">{{ext.CorrecaoTaxaReferencial | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Parcela.Amortizacao | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Parcela.Juros | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Parcela.Seguros | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Parcela.Parcela() | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Parcela.ParcelaDescontada() | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Resgate | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.SaldoAtual | number:'1.2-2' }}</td> 
            <td class="text-right">{{ext.ValorImovel | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Patrimonio() | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.PatrimonioTotal() | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>