<div class="panel panel-default">
  <div class="panel-heading">Fundo de Garantia</div>
  <div class="panel-body">
    <div class="form-group">
      <label>Saldo FGTS</label>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input [textMask]="{mask: nMask}" [(ngModel)]="Fgts" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label>Expectativa de crescimento salarial anual</label>
      <div class="input-group">
        <input [textMask]="{mask: pMask}" [(ngModel)]="CrescimentoSalarial" type="text" class="form-control">
      </div>
    </div>
      <div class="form-group">
        <label>
          <input [(ngModel)]="fgtsConfig.Entrada" type="checkbox" value="true"> Usar o FGTS para dar entrada no imóvel
        </label>
      </div>  
      <div class="form-group">
        <label>Novos Créditos de FGTS</label>
        <select (change)="onChangePosterior($event.target.value)" class="form-control input">
          <option value="1">Abater do saldo devedor</option>
          <option value="2">Abater das próximas parcelas</option>
          <option value="0" selected>Não usar mais</option>
        </select>
      </div>
  </div>
</div>