<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">Evolução do Patrimônio</div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <select #s (change)="onGraphChange(s.value)">
                    <option value="patrimonio">Patrimônio</option>
                    <option value="saldoDevedor1">Saldo Devedor</option>
                    <option value="parcela">Parcela</option>
                    <option value="juros">Juros</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="imgwrapper">
            <figure class="figure">
            <div id="oi" style="width:600;height:400px;" class="figure-img img-fluid rounded"></div>
            </figure>
        </div>
    </div>
</div>
    