<div class="panel panel-default">
  <div class="panel-heading">Configurações</div>
  <div class="panel-body">      
    <div class="form-group">
      <label>Taxas</label>
      <select name="configuration" class="form-control" [(ngModel)]="configuration.Id" (change)="onPropertyChange(configuration)">
        <option *ngFor="let config of configurations" [ngValue]="config.Id">{{config.Identificacao}}</option>
      </select>
    </div>
    <div class="form-group">  
      <label>Taxa Admnistrativa</label>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input [(ngModel)]="config.TaxaAdministrativa" type="number" class="form-control input" step="5">
    </div>
    <div class="form-group">
      <label>Seguros</label>
      <select class="form-control input" (change)="selecionaSeguro($event)">
        <option value="sa" selected>Sul América</option>
        <option value="hdi">HDI</option>
      </select>
    </div>
  </div>
</div>