<div>
    <div class="panel panel-default">
    <div class="panel-heading">Financiamento com prazo de {{financiamento.Usuario.prestacoes }} meses</div>
    <div class="panel-body">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>Primeira Parcela</td>
                    <td>{{financiamento.Resultado.PrimeiraParcela | number:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td>Comprometimento</td>
                    <td>{{ financiamento.Resultado.Comprometimento | percent }}</td>
                </tr>
                <tr>
                    <td>Última Parcela</td>
                    <td>{{financiamento.Resultado.UltimaParcela | number:'1.2-2'}}</td>
                </tr>
            </tbody>    
        </table>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="col-md-4"></th>
                    <th class="col-md-4 text-right">Valor Presente</th>
                    <th class="col-md-4 text-right" >Valor Nominal</th>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>Patrimônio</td>
                    <td class="text-right">{{ financiamento.Resultado.PatrimonioVPTotal | number:'1.2-2' }}</td>
                    <td class="text-right">{{ financiamento.Resultado.PatrimonioTotal | number:'1.2-2' }}</td>
                </tr>
                <tr class="warning">
                    <td>Entrada</td>
                    <td class="text-right">{{ financiamento.Usuario.disponivel | number:'1.2-2' }}</td>
                    <td class="text-right">{{ financiamento.Usuario.disponivel | number:'1.2-2' }}</td>
                </tr>
                <tr class="warning">
                    <td>Total de Parcelas</td>
                    <td class="text-right">{{financiamento.Resultado.ParcelaVPTotal | number:'1.2-2'}}</td>
                    <td class="text-right">{{financiamento.Resultado.ParcelaTotal | number:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td><strong>Valor Líquido</strong></td>
                    <td class="text-right"><strong>{{ financiamento.Resultado.ValorLiquidoPresente | number:'1.2-2' }}</strong></td>
                    <td class="text-right"><strong>{{ financiamento.Resultado.ValorLiquidoNominal | number:'1.2-2' }}</strong></td>
                </tr>
            </tbody>    
        </table>
    </div>
    </div>
</div>
