.navi {
    background-color: #485563;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: 650;
}

a:hover { 
    color: silver !important;
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.active {
    color:goldenrod !important;
    text-shadow: 1px 1px 3px black;
}

.navbar {
    margin-bottom: 0px;
}