<div class="row">
  <div class="col-lg-3">
    <app-formulario-aluguel (sendFinanciamento)="onComparar($event)"></app-formulario-aluguel>
  </div>  
  <div class="col-lg-9" *ngIf="calculado">
    <div class="panel panel-default">
      <div class="panel-heading">
          <div *ngIf="calculado">
            <button id="grafico" class="btn btn-warning text-center" (click)="exibeGrafico()">Gráfico</button>
            <button id="fdc" class="btn btn-warning text-center" (click)="exibeFluxoDeCaixa()">Fluxo de Caixa</button>
            <button id="resultado" class="btn btn-warning text-center" (click)="exibeResultado()">Resultado</button>
          </div>
      </div>        
      <div class="panel-body">
        <div class="row">            
          <div class="col-lg-12" *ngIf="fluxoDeCaixa">
            <app-extrato-aluguel [extratoAluguel]="extratoAluguel"></app-extrato-aluguel>
          </div>
        </div>
        <div class="row" *ngIf="grafico">            
          <div class="col-lg-12">
            <app-grafico-aluguel [extratoAluguel]="extratoAluguel"></app-grafico-aluguel>
          </div>
        </div>
        <div class="row" *ngIf="resultado">            
          <div class="col-lg-6">
            <app-aluguel-resultado [extratoAluguel]="extratoAluguel"></app-aluguel-resultado>
          </div>
          <div class="col-lg-6">
            <resultado-parcial [extrato]="comparador.ExtratoFinanciamento()" [extratoAluguel]="extratoAluguel" [user]="user" [fgtsConfig]="fgtsConfig"></resultado-parcial>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>