<nav class="navbar navbar-default">
  <div class="container-fluid">
    <app-menu-superior></app-menu-superior>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <app-formulario (onCalcular)="onCalcular($event)"></app-formulario>
    </div>
    <div class="col-lg-4">
      <app-resultado [financiamento]="financiamento" [exibirTabela]="exibir"></app-resultado>
    </div>
    <div class="col-lg-6">
      <app-tabela-vpl [financiamento]="financiamento" [exibirTabela]="exibir"></app-tabela-vpl>
      <!--<app-grafico-financiamento [exibirTabela]="exibir"></app-grafico-financiamento>-->
    </div>
  </div>
</div>