<div class="row">
    <div class="col-lg-2">
      <app-formulario [title]="'Financiamento'"
        (onCalcular)="onCalcular($event)"
        (onFgts)="onFgts($event)">
      </app-formulario>
    </div>
    <div *ngIf="!calculado">
      <div class="col-lg-3">
        <app-financiamento-propriedades 
          [usuario]="usuario"
          [config]="financiamentoConfig" 
          [fgtsConfig]="fgtsConfig">
        </app-financiamento-propriedades>
      </div>
    </div>
    <div class="col-lg-10" *ngIf="calculado">
      <div class="panel panel-default">
        <div class="panel-heading">
            <div *ngIf="calculado">
              <button class="btn btn-sm btn-warning text-center" (click)="exibeAvancado()">Avançado</button>
              <button class="btn btn-sm btn-warning text-center" (click)="exibeFluxoDeCaixa()">Fluxo de Caixa</button>
              <button class="btn btn-sm btn-warning text-center" (click)="exibeResultado()">Resultado</button>
              <button class="btn btn-sm btn-warning text-center" (click)="exibeExtrato()">Extrato FGTS</button>
            </div>
            <div *ngIf=!calculado>Calculando...</div>
        </div>        
        <div class="panel-body">
          <div class="row">            
            <div *ngIf="avancado">
              <div class="col-lg-4">
                <app-financiamento-propriedades 
                  [usuario]="usuario" 
                  [config]="financiamentoConfig" 
                  [fgtsConfig]="fgtsConfig">        
                </app-financiamento-propriedades>
              </div>
            </div>            
            <div *ngIf="fluxoDeCaixa">
              <div class="col-lg-12">
                <app-tabela-vpl [financiamento]="financiamento"></app-tabela-vpl>
              </div>            
            </div>
            <div *ngIf="resultado">
              <div class="col-lg-4">
                <app-resultado [financiamento]="financiamento"></app-resultado>
              </div>
              <div class="col-lg-8">
                <div>
                  <app-grafico-financiamento-2 [financiamento]="financiamento"></app-grafico-financiamento-2>
                </div>
              </div>
            </div>
            <div *ngIf="fgts">
              <div class="col-lg-12">
                <app-extrato-fgts></app-extrato-fgts>
              </div>
            </div>
          </div>          
      </div>
    </div>
  </div>
</div>