<div class="row">
    <div class="col-lg-2">
      <formulario [title]="'Financiamento'"
        (onCalcular)="onCalcular($event)"
        (onFgts)="onFgts($event)">
      </formulario>
    </div>
    <div *ngIf="!calculado">
      <div class="col-lg-3">
        <financiamento-propriedades 
          [config]="financiamentoConfig">
        </financiamento-propriedades>
      </div>
      <div *ngIf="usuario.usaFGTS">
        <div class="col-lg-3">
          <fgts-propriedades [fgtsConfig]="fgtsConfig"></fgts-propriedades>
        </div>
      </div>
    </div>
    <div class="col-lg-10" *ngIf="calculado">
      <div class="panel panel-default">
        <div class="panel-heading">
            <div *ngIf="calculado">
              <button id="configuracoes" class="btn btn-warning text-center" (click)="exibeGrafico()">Gráfico</button>
              <button id="resultado" class="btn btn-warning text-center" (click)="exibeResultado()">Resultado</button>
              <button id="fdc" class="btn btn-warning text-center" (click)="exibeFluxoDeCaixa()">Fluxo de Caixa</button>
              <button id="fgts" class="btn btn-warning text-center" *ngIf="isUsingFgts" (click)="exibeExtrato()">Extrato FGTS</button>
              <button id="save" class="btn btn-primary text-center" (click)="exibeSaveScreen()">Salvar</button>
            </div>
        </div>        
        <div class="panel-body">
          <div class="row">           
            <div *ngIf="grafico">
              <div class="col-lg-12">
                  <grafico-financiamento [extrato]="extrato"></grafico-financiamento>
              </div>         
            </div>
            <div *ngIf="fluxoDeCaixa">
              <div class="col-lg-12">
                <extrato-financiamento [naoUsaFgts]="isUsingFgts" [posterior]="posterior" [extrato]="extrato"></extrato-financiamento>
              </div>         
            </div>
            <div *ngIf="resultado">
              <div class="col-lg-6">
                <resultado-parcial [extrato]="extrato" [user]="usuario" [fgtsConfig]="fgtsConfig"></resultado-parcial>
              </div>
              <div class="col-lg-6">
                <div>
                </div>
              </div>
            </div>
            <div *ngIf="fgts">
              <div class="col-lg-12">
                <extrato-fgts [extrato]="extrato"></extrato-fgts>
              </div>
            </div>
            <div *ngIf="saveScreen">
              <div class="col-lg-12">
                <financiamento-save [financiamento]='properties'></financiamento-save>
              </div>
            </div>
          </div>      
      </div>
    </div>
  </div>
</div>