<div class="navbar-header">
  <a class="navbar-brand" [routerLink]="['/home']"><span class="glyphicon glyphicon-home"></span>{{title}}</a>
</div>
<ul class="nav navbar-nav">
  <li routerLinkActive="active"><a [routerLink]="['/financiamento']">{{financiamento}}</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/aluguel']">{{aluguel}}</a></li>
  <li routerLinkActive="active"><a [routerLink]="['/consorcio']">{{consorcio}}</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li routerLinkActive="active" class="text-right"><a [routerLink]="['/configuracoes']">{{global}}</a></li>
</ul>


