a {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-weight: 700;    
}

a:hover, button { 
    background-color: firebrick !important;
    color: silver !important;
    text-shadow: 1px 1px 2px black;
}

.active a, button {
    background-color: firebrick !important;
    color:goldenrod !important;
    text-shadow: 1px 1px 3px black;
}