<div class="panel panel-default">
  <div class="panel-heading">Extrato do Fundo de Garantia</div>
  <div class="panel-body">      
    <div class="table table-responsive">  
      <table class="table  table-striped table-condensed">
        <thead>
          <tr>
            <th class="col-1">N</th>
            <th class="text-right">Saldo</th>
            <th class="text-right">Correção TR</th>
            <th class="text-right">Créditos</th>
            <th class="text-right">Resgate</th>
            <th class="text-right">Total FGTS</th>
            <th class="text-right">Variação</th>
            <th class="text-right">Variação VP</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{ 'danger' : p.Resgate > 0 }" *ngFor="let p of financiamento.ExtratoFgts; let i=index">
            <td>{{i}}</td>
            <td class="text-right">{{p.Saldo | number:'1.2-2' }}</td> 
            <td class="text-right">{{p.CorrecaoTR | number:'1.2-2' }}</td>
            <td class="text-right">{{p.Creditos | number:'1.2-2' }}</td>
            <td class="text-right">{{p.Resgate | number:'1.2-2' }}</td>
            <td class="text-right">{{p.TotalFgts | number:'1.2-2' }}</td>
            <td class="text-right">{{p.Variacao | number:'1.2-2' }}</td>
            <td class="text-right">{{p.VariacaoVP | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

