<div class="panel panel-default">
  <div class="panel-heading">Extrato do Fundo de Garantia</div>
  <div class="panel-body">      
    <div class="table table-responsive">  
      <table class="table  table-striped table-condensed">
        <thead>
          <tr>
            <th class="col-1">Mês</th>
            <th class="text-right">Saldo Inicial</th>
            <th class="text-right">Rendimentos</th>
            <th class="text-right">Créditos</th>
            <th class="text-right">Resgate</th>
            <th class="text-right">Total FGTS</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{ 'danger' : ext.Resgate > 0 }" *ngFor="let ext of extrato; let i=index">
            <td>{{i}}</td>
            <td class="text-right">{{ext.FgtsSaldoInicial() | number:'1.2-2' }}</td> 
            <td class="text-right">{{ext.RendimentoFgts | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.DepositoFgts | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.Resgate | number:'1.2-2' }}</td>
            <td class="text-right">{{ext.MontanteFgts | number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>