<h3></h3>
<form>
  <div class="form-group">
    <label>Valor do imóvel:</label>
    <input type="input" class="form-control" id="valor-imovel">
  </div>
    <div class="form-group">
    <label>Disponibilidade</label>
    <input type="input" class="form-control" id="disponibilidade">
  </div>
  <div class="form-group">
    <label><input type="checkbox" value="true"> Possui FGTS</label>
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-primary">Calcular</button>
  </div>
</form>