<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-4">Comparação entre financiamento e aluguel</div>
      <div class="col-md-6" style=" margin-top: -20px; position: absolute; display: inline-flex;">
        <gt-pagination [gtClasses]="'pagination pagination-sm justify-content-center'" [genericTable]="myTable" style="margin: 0px;"></gt-pagination>
      </div>
      <div class="col-md-2" style="float: right">
        <button class="btn btn-primary btn-md" style="padding: 6px 14px;" (click)="export()">Exportar</button>
      </div>
    </div> 
  </div>
  <div class="panel-body">      
    <div class="table table-responsive">  
      <generic-table [gtClasses]="'table-striped'" #myTable [gtSettings]="tableConfig.settings" [gtFields]="tableConfig.fields" [(gtData)]="tableConfig.data"></generic-table>
    </div>
  </div>
</div>