<div class="panel panel-default">
  <div class="panel-heading">Configurações gerais da aplicação</div>
  <div class="panel-body">    
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <form>
              <div class="form-group">
                <label>Selecione</label>
                <select name="configuration" class="form-control" [(ngModel)]="configuration" (change)="onPropertyChange(configuration)">
                  <option *ngFor="let config of configurations" [ngValue]="config">{{config.Identificacao}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Identificador</label>
                <input [disabled]="isAdicionado" class="form-control" [(ngModel)]="Identificacao" name="iden" placeholder="Digite um nome/código para identificar">
              </div>
              <div class="form-group">
                <label>Descrição</label>
                <textarea [disabled]="isAdicionado" class="form-control" [(ngModel)]="Descricao" name="desc" rows="6">{{description}}</textarea>
              </div>
              <div class="form-group">
                <button [disabled]="isAdicionado || !isValid()" (click)="adicionar()"class="btn btn-primary">Salvar</button>
              </div>
            </form>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
            <div class="form-group">  
              <label>Taxa referencial</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaReferencial" class="form-control">
            </div>
            <div class="form-group">
              <label>Taxa interna de retorno</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaInterna" class="form-control">
            </div>
            <div class="form-group">
              <label>Taxa de atualização da prestação do aluguel</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaAluguel" class="form-control">
            </div>
            <div class="form-group">
              <label>Taxa de valorização de imóvel</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaImovel" class="form-control">
            </div>
            <div class="form-group">
              <label>Taxa de rendimento do Fundo de Garantia</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaFundo" class="form-control">
            </div>
          </div>  
          <div class="col-lg-3">
            <div class="form-group">
              <label>Taxa de rentabilidade de aplicação financeira</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaRentabilidade" class="form-control">
            </div>
            <div class="form-group">
              <label>Imposto de renda sobre rendimentos</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaImpostoRenda" class="form-control">
            </div>
            <div class="form-group">
              <label>Taxa de juros sobre financiamentos</label>
              <input type="text" [textMask]="{mask: mask}" [(ngModel)]="TaxaJuros" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>          
  </div>
</div>