<div class="panel panel-default">
<div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
    <div class="form-group">  
      <label>Valor do imóvel</label>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input [textMask]="{mask: mask}" [(ngModel)]="valorImovel" type="text" class="form-control" id="valor-imovel" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label>Disponibilidade</label>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input [textMask]="{mask: mask}" [(ngModel)]="disponivel" type="text" class="form-control" id="disponibilidade">
      </div>
    </div>
    <div class="form-group">
      <label>Prestações</label>
      <input [(ngModel)]="prestacoes" type="number" class="form-control" id="prestacoes" min="0" max="480">
    </div>
    <div class="form-group">
      <label>Renda Mensal</label>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input [textMask]="{mask: mask}" [(ngModel)]="renda" type="text" class="form-control" id="renda">
      </div>
    </div>
    <div class="form-group">
      <label>Data de Nascimento</label>
      <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="birthDay" (inputFieldChanged)="onInputFieldChanged($event)"></my-date-picker>
    </div>
    <div class="form-group">
      <label><input [(ngModel)]="possuiFgtsModel" type="checkbox" value="true"> Possui FGTS</label>
    </div>
    <div class="form-group text-center">
      <button type="button" [disabled]="!validaForm()" (click)="calcular()" class="btn btn-primary">Calcular</button>
    </div>
  </div>
</div>